###############################################################################
# 1. Ignore system & editor files
###############################################################################
.DS_Store
.idea/
.vscode/
.tmp.driveupload/
.tmp.drivedownload/ 

###############################################################################
# 2. Python byte-code & pytest cache
###############################################################################
__pycache__/
.pytest_cache/


###############################################################################
# 3. Large raw data, models & logs (kept out of Git)
###############################################################################
# Raw data
SimJEB_Data/
*.csv
*.png 
*.npy
*.stl
*.xlsx
*.vtk
*.obj
*.stp
*.fem


# TensorBoard / W&B logs
Training_Log/
events.out.tfevents*

###############################################################################
# 4. Jupyter notebook checkpoints
###############################################################################
.ipynb_checkpoints/


